*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  color: #14141F !important;
}

/*====sidebar====*/
.sidebar_container{
  width: 240px;
  height: 100vh;
  border-right: 1px solid #ECECED; 
}
.logo_container{
  border-bottom: 1px solid #ECECED;
  padding:  12px 8px;
}
.nav_style{
  padding: 8px 4px;
  overflow: auto;
  height: calc(100vh - 115.84px);
}
.nav_container{
  padding: 6px 4px;
  font-size: 13px;
  transition-duration: 300ms;
}
.nav_container:hover{
  background-color: rgba(0,0,0,0.1);
}

.nav_style h3{
  font-size: 13px;
  margin-left: 10px;
}
.nav_style p{
  margin: 0 0 0 10px;
  padding: 0;
}
.nav_container p a{
  color: inherit;
}
.account_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: fixed;
  bottom: 0;
  width: 239px;
  border-top: 1px solid #ECECED;
  background-color: #FFFFFF;
}
.profile_content{
  display: flex;
  align-items: center;
}
.profile_image_content{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden;
}
.profile_content p{
  margin: 0 10px;
  font-size: 13px;
  font-weight: 400;
}

/*=====main====*/
.main_container{
  padding: 32px 80px;
  width: calc(100% - 240px);
  overflow: auto;
  height: 100vh;
}
.account_information_container{
  background-color: #008B5D;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 24px;
}

h4{ font-size: 24px;}
h5{ font-size: 17px;}

.account_information_text{
  width: calc(100% - 72px);
  margin-left: 20px;
  color: #FFFFFF;
}
.account_information_icon{
  width: 72px;
  height: 72px;
  border-radius: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.account_form_container{ margin-top: 30px; }

.input_in_form{
  border-radius: 4px;
  padding: 8px 12px;
  border: 1px solid #E3E3E4;
  color: #595964;
  font-size: 15px;
  width: 100%;
}
.label_for_input{
  position: relative;
  font-size: 11px;
  background-color: #FFFFFF;
  padding: 0 4px;
  top: 9px;
  left: 10px;
}
.input_content{ margin: 0 20px 0 0;}
.input_container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

a{
  color: #1688FE;
  text-decoration: none !important;
}
.text_in_form{ font-size: 15px; }

.Button_style{
  background-color: #1688FE;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  width: 170px;
  height: 40px;
  font-size: 15px;
  transition-duration: 300ms;
}
.Button_style:hover{ background-color: #0b529d;}

.profile_image{
  border-radius: 100%;
  width: 144px;
  height: 144px;
  overflow: hidden;
  margin-top: 15px;
}

.form_style{ width: calc(100% - 144px); }
.input_show{ margin: 20px 0; }
.label_for_show{
  margin-left: 10px;
  font-size: 13px;
}

.delete_account_container{
  line-height: 22px;
  border-radius: 8px;
  border: 1px solid #E3E3E4;
  padding: 16px;
  font-size: 15px;
}
.delete_account_container p{ color: #4C4C55; }
.delete_account_container a{ 
  color: #F25773; 
  transition-duration: 300ms;
}
.delete_account_container a:hover{ color: #c61d3c; }

.footer_style{ font-size: 15px; }
.footer_style p{ margin: 20px 0 50px 0; }
.footer_tools_style{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  padding: 0 415px 20px 0;
}
.footer_style ul{
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  align-items: center;
}
.footer_style ul li{
  margin: 0;
  padding: 0;
}
.footer_tools_style a{
  color: #595964;
  margin-right: 20px;
  font-size: 14px;
  transition-duration: 300ms;
}
.footer_tools_style a:hover{ color: #2c2c2e; }
.hr_style{
  background: #E3E3E4;
  margin: 0 0 20px 0;
  padding: 0;
}

.notHover:hover{ background-color: transparent !important;}
.setting_style{ cursor: pointer; }

.message_information{
  background-color: #008B5D;
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 4px;
  height: 39.5px;
  transition-duration: 500ms;
  opacity: 1;
}
.message_height_zero{ 
  height: 0; 
  padding: 0;
  opacity: 0;
}
.plus_style{
  margin-top: -12px;
  margin-right: 10px;
  cursor: pointer;
}

.menu_nav_title_content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checked_email{
  position: relative;
  margin-top: -34px;
  margin-right: 10px;
  float: right;
}

.height_zero{
  overflow: hidden;
  height: 0 !important;
}
.board_style{
   height: 189px; 
   transition-duration: 100ms;
  }
